*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  background-color: #1b1b32;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-family: sans-serif;
}

.number{
  background-color: white;
}